{
 ;; Databse configuration ----------------------------------
 :db {:cassandra
      ;; Cassandra configurations
      {
       ;; Connection endpoint and config
       :connection {:contact-hosts ["127.0.0.1"]}

       ;; Keyspace details
       :keyspace {
                  }
       }}

 ;; Logger configuration -----------------------------------
 :logger {:level :verbose}}XS
